.header {
    padding-top: 100px;
    margin: auto;
    background-color: #979dac;
    height: 800px;
    font-family: 'Syne';
    color: #001845;
}

@font-face {
    font-family: 'Schibsted';
    src: local('Schibsted'),
        url(../fonts/Schibsted_Grotesk/SchibstedGrotesk-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Syne';
    src: local('Syne'), url(../fonts/Syne/Syne-VariableFont_wght.ttf) format('truetype');
}

.title {
    padding-top: 50px;
    font-size: 80px;
    max-width: 600px;
    text-align: center;
}

.buttonLeft {
    padding: 10px;
    font-weight: bold;
    font-family: Schibsted;
    background-color: #33415c;
    color: white;
    border: none;
    font-size: 16px;
}
.buttonRight {
    padding: 10px;
    font-weight: bold;
    font-family: Schibsted;
    background-color: #001233;
    color: white;
    border: none;
    margin-left: 10px;
    font-size: 16px;
}

.description {
    padding: 100px;
    background-color: #001845;
    color: white;
}
.noPadding {
    padding-left: 0;
    padding-right: 0;
}
.descTitle {
    font-family: Syne;
    font-size: 48px;
}

.descText {
    font-family: Schibsted;
    font-weight: bold;
    font-size: 20px;
}

.experiences {
    font-family: Schibsted;
    font-size: 20px;
    padding: 100px;
    background-color: #0466c8;
    color: white;
}

.expTitle {
    font-family: Syne;
    font-size: 20px;
    font-weight: bold;
}
.expYears {
    text-align: end;
}

.test {
    width: 100%;
    height: 400px;
    background-color: rgb(4, 102, 200);
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' %3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 60px 60px;
    border-radius: 0px;
}
